body
  font-family 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
  padding 0

body, label
  font-size 16px

body, li, h1, h2, h3
  line-height 1.4

p, li, ul, ol
  margin-bottom 1em

a
  &:hover
    text-decoration none
    border-bottom 1px solid #A4C1D3
    &.hide-link
      color #08c
  &.hide-link
    color #333

h1, h2, h3, h4, h5, h6
  font-family 'Open Sans Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight 300
  margin 0

ul
  list-style-type square

h1
  text-align center
  font-size 56px
  a
    color #333
    &:hover
      text-decoration none
      border 0
      color #08c

h2
  font-size 46px

h3
  font-size 36px

header
  margin 0 0 25px 0

footer
  margin-top 45px
  padding-bottom 10px
  text-align center
  font-size 16px
  padding-top 10px
  ul
    list-style none
    margin 0
    li
      display inline-block
      margin-left 10px
      padding-left 10px
      border-left 1px solid #ddd\
      &:first-child
        margin-left 0
        padding-left 0
        border-left 0

/* Devices with big screens. */
@media only screen and (min-width: 768px)
  header, .readable, footer
    width 600px
    margin-left auto
    margin-right auto

/* Devices with medium screens */
@media only screen and (min-width: 480px) and (max-width: 767px)
  header, .readable, footer
    max-width 600px
    padding 0 10px
    margin-left auto
    margin-right auto

/* Devices with small screens */
@media only screen and (max-width: 479px)
  header, .readable, footer
    padding 0 8px

  body, label
    font-size 14px
  h1
    font-size 36px
  h2
    font-size 29px
  h3
    font-size 22px

  header
    margin 0 0 5px 0
  footer
    font-size 14px

  footer ul li
    display block
    padding 0
    margin 0 0 4px 0
    border-left 0

.separated-block
  margin-top 1em
  margin-bottom 1em

.separated-block-bottom
  margin-bottom 1em

.separated-block-top
  margin-top 1em

.centrify
  margin-left auto
  margin-right auto

.progress .bar.no-transition
  -moz-transition none
  -webkit-transition none
  -o-transition color 0 ease-in
  transition none

